@import 'src/styles/variables';

.overlay {
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s;
  z-index: 1;
  &.overlay__active {
    opacity: 1;
    transition: all 0.25s;
    pointer-events: all;
  }
  .modal {
    width: 700px;
    height: 390px;
    background-color: $backgroundColorCards;

    padding: 1rem;

    transition: all 0.25s;
    transform: scale(0.5);
    &.modal__active {
      transform: scale(1);
      transition: all 0.25s;
      pointer-events: all;
    }
  }
}

.modal__card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 1.2rem;
  .modal__card__poster {
    width: 50%;
  }
  .modal__description {
    width: 50%;
    .modal__card__input {
      width: 80%;
      height: 1.6rem;
      padding-left: 5px;
      border: 1px solid $backgroundColorDarkGray;
      border-radius: 0.1rem;
      background-color: inherit;
      margin-bottom: 0.1rem;
    }
    .modal__card__map {
      width: 100%;
      height: 150px;
      margin-bottom: 1rem;
    }
    .modal__card__button_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .modal__card__button {
        font-size: 1rem;
        width: 45%;
        height: calc(2.25rem + 2px);
        border: none;

        color: white;
        background-color: $orange;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
  .modal__card__button_close {
    position: absolute;
    top: -10px;
    right: -5px;
    color: tomato;
    font-size: 1.8rem;
    background-color: inherit;
    border: none;
  }
}
