@import 'src/styles/variables';

.navbar {
  width: 100%;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $backgroundColorWhite;
  .navbar__title {
    color: $black;
    font-size: 5rem;
    span {
      color: $orange;
    }
  }
}

/* xs (<=543px) */
@media (max-width: 575px) {
  .navbar {
    .navbar__title {
      font-size: 4rem;
    }
  }
}
