.navbar {
  width: 100%;
  height: 8rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  .navbar__title {
    color: black;
    font-size: 5rem;
    span {
      color: #ff8f52;
    }
  }
}
