@import 'src/styles/variables';

.card_field {
  width: 70%;
  height: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  background-color: $backgroundColorWhite;
}

/* xs (<=543px) */
@media (max-width: 575px) {
  .card_field {
    width: 90%;
  }
}

// /* sm (>=576 и <=767) */
// @media (min-width: 576px) and (max-width: 767px) {
// }

// /* md (>=768 и <=991) */
// @media (min-width: 768px) and (max-width: 991px) {
// }

// /* lg (>=992 и <=1199) */
// @media (min-width: 992px) and (max-width: 1199px) {
// }

// /* xl (>=1200) */
// @media (min-width: 1200px) {
// }
