@import 'src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Space+Grotesk:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $backgroundColorGray;
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
